.container_fam1{
  display: flex;
  gap: 10px;
}
.fam_pic1{
  width: 500px;
  height: 500px;
}
.fam_pic2{
  width: 550px;
  height: 500px;
}
.fam_pic3{
  width: 500px;
  height: 500px;
}

.container_fam2{
  display: flex;
  margin-top: 50px;
  gap: 10px;
}
.fam_pic5{
  width: 500px;
  height: 450px;
}
.fam_pic6{
  width: 500px;
  height: 450px;
}
.fam_pic7{
  width: 495px;
  height: 450px;
}

.container_fam3{
  display: flex;
  margin-top: 50px;
  gap: 10px;
}
.fam_pic8{
  width: 500px;
  height: 450px;
}
.fam_pic9{
  width: 500px;
  height: 450px;
}
.fam_pic10{
  width: 495px;
  height: 450px;
}


.container_fam4{
  display: flex;
  margin-top: 50px;
  gap: 10px;
  margin-left: 75px;
}
.fam_pic11{
  width: 450px;
  height: 500px;
}
.fam_pic12{
  width: 450px;
  height: 500px;
}
.fam_pic13{
  width: 450px;
  height: 500px;
}