@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dosis:wght@300;400&family=Josefin+Sans:wght@300&family=Montserrat:wght@300&display=swap');


.about_container{
    display: flex;
    height: 600px;
    width: 1300px;
    background-color: white;
    gap: 10px;
    margin-top: 200px;
    margin-left: 100px;
    
}
.line{
    width: 350px;
}
.about_text1{
    
    margin-top: 40px;
    font-size: 60px;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: white;

}
.about_text2{
    font-size: 25px;
    padding: 20px;
    padding-top: 50px;
    /* font-family: 'Cormorant Garamond', serif; */
    text-align: center;
    width: 800px;
    font-family: 'Dosis', sans-serif;


}
.photographer_img{
    height: 600px;
    width: 500px;
    
    margin-top: 0px;
    margin-left: 0px;
    


}