@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



.page_heading1{
    color: white;
    text-align: center;   
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
}
.page_heading2{
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 60px;
}
.main_box{
    width: 70%;
    height: 700px;
    margin-left: 220px;
    background-color: white;
    margin-top:40px ;
    display: flex;
    gap: 10px;
    border-radius: 10% 10%;
}
.booking_img{
  margin-left: 0px;
  margin-top: 0px;
  width: 500px;
  height: 700px;
  border-radius: 10% 0% 0% 10%;
}
.book_head{
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  margin-left: 120px;
  margin-top: 20px;
  
}
.booking_text{
  width: 700px;
}
.booking_line{
  width: 100%;
  margin-left: 0px;
}
.form_book{
  margin-left: 50px;
  font-family: 'Dosis', sans-serif;
}
.input_book{
  width: 300px;
  height: 30px;
  padding: 2px;
  
}
.label_book{
  font-size: 15px;
}
.submit{
  margin-left: 100px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.submit:hover{
  background-color: black;
  color:white;
}
.statement{
  margin-left: 120px;
  font-family: 'Dosis', sans-serif;

}
.login{
  margin-left: 180px;
  color: black;
}




















/* calendar css */

/* .react-calendar {
    width: 550px;
    height:400px;
    max-width: 100%;
    background:white;
    
    font-family: 'Dosis', sans-serif;
    line-height: 1.125em;
    padding: 20px;
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.85em;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 1em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #515151;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--now {
    background: #a8a8a6;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #5b5b59;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: #080808;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #080808;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
   */