@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&display=swap');

.Flists{
    display: flex;
    font-family: 'Frank Ruhl Libre', serif;
    width: 100%;
    justify-content:center;
    margin-bottom: 50px;
    color: white;
    margin-top: 60px;
}
.Flist{
    list-style: none;
    padding: 0;
  }
  .copy_div{
    color: white;
    margin-left: 42%;
    font-family: 'Frank Ruhl Libre', serif;
  }
  .copy{
    list-style: none;
    font-size: 8px;
  }
